* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: url("../img/background.png");
  backdrop-filter: brightness(1.4);

  display: grid;
  place-items: center;
  color: #ffffff;
}

.table-wrapper {
  user-select: none;
}

th,
td {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: default;

  transition: 250ms;
}

td {
  border-radius: 50%;
}

td:hover {
  background-color: #999999;
  color: #ffffff;
}

td:not(.current-month, :hover) {
  color: #999999;
}

td.today {
  background-color: #f38064;
  color: #000000;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
  margin-bottom: 24px;
}

.table-header-controls {
  display: flex;
  align-items: center;
  gap: 4px;
}

.table-header-month,
.table-header-control {
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}
.table-header-month:hover,
.table-header-control:hover {
  background-color: #666666;
}

.table-header-control.table-header-control-left {
  margin-bottom: -2px;
}
.table-header-control.table-header-control-right {
  margin-top: -2px;
}

.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 16px 16px 16px;
  border: none;
  border-radius: 8px;
  background: url("../img/background.png");
  color: #ffffff;
}
.dialog:not([open]) {
  display: none;
}
.dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  display: grid;
  place-items: center;
}
.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.dialog-title {
  font-size: 16px;
  font-weight: bold;
}
.dialog-close {
  border: none;
  background: transparent;
  font-size: 24px;
  color: #ffffff;
}
